<div class="row tintuc">
    <div class="col-md-4 ">
        <img src="~/images/tintuc01.JPG" />
        <h3>Trải nghiệm Sáng tạo</h3>
        <ul>
            <li>Hướng đến mục tiêu giáo dục chung của Hệ thống trường Chất lượng cao Trường Sun Shine là “dạy học sinh nên người”, nhà trường luôn chú trọng đến các hoạt động học tập trải nghiệm, ứng dụng thực tế.</li>
            <li>Từ những hoạt động giáo dục thực tế, học sinh tại NBK luôn được học hỏi, nâng cao khả năng sáng tạo trên nhiều lĩnh vực khác nhau chứ không chỉ là những kiến thức đơn thuần để làm bài thi giấy thông thường...<a href="#">Xem Thêm</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/images/tintuc02.JPG" />
        <h3>Mừng 20/11</h3>
        <ul>
            <li>
                Trong ngày kỉ niệm ngày Nhà giáo Việt Nam, tôi cũng muốn cùng các em học sinh ôn lại truyền thống tốt đẹp này của dân tộc và thể hiện lòng biết ơn sâu sắc của toàn thể cha mẹ học sinh của nhà trường đối với thầy cô - những người đã và đang làm nhiệm vụ cao cả là dạy dỗ con em chúng ta thành người có ích cho đất nước trong tương lai...<a href="#">Xem Thêm</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/images/tintuc03.JPG" />
        <h3>Vẽ tranh "Vì môi trường xanh"</h3>
        <ul>
            <li>
                Nhằm nâng cao nhận thức và tuyên truyền sâu rộng tới các em thiếu nhi trên cả nước về việc cần thiết của việc giữ gìn và bảo vệ môi trường…
                Cuộc thi cũng nhằm gióng lên một hồi chuông cảnh báo vấn đề ô nhiễm môi trường và kêu gọi các bậc phụ huynh, các thầy cô giáo, các em học sinh cùng quan tâm hơn nữa tới việc giữ gìn, chung tay bảo vệ thiên nhiên môi trường...<a href="#">Xem Thêm</a>
            </li>
        </ul>
    </div>
</div>