@{
    ViewData["Title"] = "Giới Thiệu";
}

<div class="gioithieu" style="text-align: center;">
    <h2>GIỚI THIỆU VỀ TRƯỜNG THPT Sun Shine</h2>
</div>
<h4 class="gioithieu">
    Trường THPT Sun Shine là có chất lượng giáo dục hàng đầu tại Thành phố Hồ Chí Minh, tỷ lệ học sinh tham gia nghiên cứu khoa học, tỷ lệ học sinh giỏi cấp Thành phố, tỷ lệ đỗ Đại học hàng năm luôn ở top đầu của Thành phố, nhiều năm liền được UBND Thành phố, Bộ Giáo dục và Đào tạo tặng bằng khen về thành tích xuất sắc trong phong trào thi đua đổi mới sáng tạo trong dạy và học.
    Với đội ngũ giáo viên giỏi chuyên môn - giàu kinh nhiệm - nhiệt tình - phương pháp giảng dạy sinh động; đội ngũ quản nhiệm, nhân viên có tinh thần trách nhiệm cao, yêu thương, tôn trọng, chăm sóc học sinh chu đáo như con của mình.
    Cơ sở vật chất đạt chuẩn với đầy đủ các phòng chức năng được trang bị đầy đủ trang thiết bị dạy học, wife toàn trường. Rạp chiếu phim, sân bóng đá, hồ bơi, sân đa năng, Phòng GYM ngay trong khuôn viên trường.
</h4>

<div class="pb-4">
    <img src="~/images/gioithieu1.jpg" />
    <h4 style="text-align: center">
        Thư viện rộng rãi, đầy đủ sách vở hỗ trợ cho việc học tập, tìm tòi học hỏi, bổ sung kiến thức cho các học sinh
    </h4>
</div>
<div class="pb-4">
    <img src="~/images/gioithieu2.jpg"/>
    <h4 style="text-align: center">
        Hồ bơi đạt chuẩn
    </h4>
</div>
<div>
    <img src="~/images/gioithieu3.jpg" />
    <h4 style="text-align: center">
        Căn tin sạch sẽ, thoải mái với vô vàn đồ ăn, nước uống
    </h4>
</div>