
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-container">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="main-content">
                <div style="padding-bottom: 20px;">
                    <select class="combo-box">
                        <option>HK1</option>
                        <option>HK2</option>
                    </select>
                </div>
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Môn Học</th>
                                <th>Miệng</th>
                                <th>15p L1</th>
                                <th>15p L2</th>
                                <th>15p L3</th>
                                <th>1 Tiết</th>
                                <th>Giữa Kỳ</th>
                                <th>Cuối Kỳ</th>
                                <th>ĐTB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hoa</td>
                                <td>Hong</td>
                                <td>Nguyen</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

