<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SunShineSchool</title>
    <link href="~/Assets/Home/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>

</head>
<body>
    <div class="header">
        <img src="~/Assets/Admin/images/icon/icon4.png" style="height: 100px; margin-left: 238px;" />
        <partial name="~/Views/Website/_HeaderTop.cshtml" />
        <partial name="~/Views/Website/_HeaderBottom.cshtml" />
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div style="padding-top: 300px;">
            <div class="row listRow">
                <div class="col-3">
                    <div class="tt">
                        Hệ thống trường Sun Shine School
                    </div>
                    <ul>
                        <li><a class="ic-tick left fa-caret-right" href="/lequydon" title="Sun Shine School Gò Vấp">Sun Shine School Gò Vấp</a></li>
                        <li><a class="ic-tick left fa-caret-right" href="/dalat" title="Sun Shine School Đà Lạt">Sun Shine School Đà Lạt</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="tt">Cộng đồng</div>
                    <ul>
                        <li><a href="/vi/cong-dong/hoc-sinh-dang-theo-hoc" title="Học sinh đang theo học" class="ic-tick left fa-caret-right">Học sinh đang theo học</a></li>
                        <li><a href="/vi/cong-dong/su-nghiep-tuong-lai" title="Sự nghiệp tương lai" class="ic-tick left fa-caret-right">Sự nghiệp tương lai</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="tt">Thông tin khác</div>
                    <ul>
                        <li>
                            <a href="/vi/quy-dinh-phap-ly" title="Quy định pháp lý">Quy định pháp lý</a>
                        </li>
                        <li>
                            <a href="/vi/dieu-khoan-bao-mat" title="Điều khoản bảo mật">Điều khoản bảo mật</a>
                        </li>
                        <li>
                            <a href="/vi/so-do-trang" title="Sơ đồ trang">Sơ đồ trang</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="tt">Liên kết website</div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LienKetWebsite <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="http://ttcedu.vn" target="_blank">Ngành Giáo dục</a></li>
                        </ul>
                    </div>
                    <div class="share mt25">
                        <a class="fa fa-google-plus" aria-hidden="true" href="https://plus.google.com/" target="_blank" rel=""></a>
                        <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/" target="_blank" rel=""></a>
                        <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/" target="_blank" rel=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        window.fcWidget.init({
            token: "57adc36f-46a3-47e3-a0a4-10ad2294ad8d",
            host: "https://wchat.freshchat.com"
        });
    </script>
</body>
</html>
<script src="/Assets/Admin/vendor/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

