@using Microsoft.AspNetCore.Identity
@using WebApplication2.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <div>
            <span>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </span>
            <span>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </span>
        </div>
    </form>
}
else
{
    <div>
        <span style="padding-right: 20px;"><a asp-area="Identity" asp-page="/Account/Register">Đăng Ký</a></span>
        <span>
            <a asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
        </span>
    </div>
}