/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.tieu-de {
    padding-bottom: 20px;
    color: #000;
    text-align: center;
}

.ketqua {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 20px;
    color: #000;
}

.hocky {
    float: right;
    margin-bottom: 20px;
    margin-right: 80px;
    height: 35px;
}

.dropdown-item {
    background-color: #fff;
}

.indam {
    font-weight: 600;
}

.table {
     font-size: 17px;
}

.table > thead > tr > th {
    padding: 12px !important;
}

.a-fff {
    color: #fff;
}

.hienthitt {
    text-align: left;
    border: 1px solid #ccc !important;
    padding: 18px 15px 15px 55px;
    border-radius: 16px;
    margin: 0 315px 0 350px;
    background-color: #e8f9ff;
}

.row {
    padding-bottom: 10px;
}

.col-4 {
    font-weight: 600;
}