<div class="container">
    <div class="position-relative">
        <ul class="d-flex justify-content-center nav-bar-home">
            <li>
                <a href="https://localhost:44374/" class="a-fff">TRANG CHỦ</a>
            </li>
            <li>
                <a href="/Home/About" class="a-fff">
                    GIỚI THIỆU
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        <li>
                            <span>Giới thiệu về trường THPT Sun Shine</span>
                            <span class="position-absolute sub-title-discription">
                                Trường THPT Sun Shine được thành lập vào ngày 29 tháng 8 năm 2007 của chủ tịch ủy ban nhân dân Thành Phố Hồ Chí Minh. Sau hơn mười năm hình thành và phát triển, Trường THPT SunShine đã vững vàng khẳng định thương hiệu và là địa chỉ giáo dục đáng tin cậy đối với phụ huynh, học sinh trên địa bàn quận Sun Shine, cũng như Thành phố Hồ Chí Minh và các tỉnh lân cận khác.
                            </span>
                        </li>
                        <li>
                            <span>Sứ mạng</span>
                            <span class="position-absolute sub-title-discription">
                                Sứ mạng của Trường THPT Sun Shine là đóng góp và nâng cao tri thức cho cộng đồng bằng các phương thức linh hoạt và thuận tiện nhất.
                            </span>
                        </li>
                        <li>
                            <span>Thành tích</span>
                            <span class="position-absolute sub-title-discription">
                                Đầu năm học 2018 – 2019 trường vinh dự đón nhận Bằng khen của Ủy ban nhân dân thành phố Hồ Chí Minh trao tặng, danh hiệu “Tập thể lao động xuất sắc năm học 2017 - 2018”, càng vinh dự hơn trường tiếp tục được nhận cờ thi đua “Đơn vị dẫn đầu phong trào thi đua năm học 2017 – 2018”.
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    MÔI TRƯỜNG HỌC
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        <li>
                            <span>Cơ sở vật chất</span>
                            <span class="position-absolute sub-title-discription">
                                Cơ sở giáo dục của Trường THPT Sun Shine được thiết kế và xây dựng đảm bảo tối đa theo các quy định về an toàn, vệ sinh, phòng cháy chữa cháy, điều kiện thông thoáng, góp phần tạo ra một môi trường học tập vừa thoải mái, vừa an toàn cho học sinh.
                            </span>
                        </li>
                        <li>
                            <span>Chăm sóc học sinh</span>
                            <span class="position-absolute sub-title-discription">
                                Trường THPT Sun Shine luôn chú trọng trong công tác y tế học đường, góp phần nâng cao chất lượng chăm sóc sức khỏe ban đầu cho học sinh.
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Home/Contact" class="a-fff">
                    CƠ CẤU TỔ CHỨC
                </a>
            </li>
            <li>
                <a>
                    KHỐI HỌC SINH
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        <li>
                            <span>Khối 10</span>
                            <span class="position-absolute sub-title-discription">
                                <ul>
                                    <li>Lớp 10A1</li>
                                    <li>Lớp 10A2</li>
                                </ul>
                            </span>
                        </li>
                        <li>
                            <span>Khối 11</span>
                            <span class="position-absolute sub-title-discription">
                                <ul>
                                    <li>Lớp 11A1</li>
                                    <li>Lớp 11A2</li>
                                </ul>
                            </span>
                        </li>
                        <li>
                            <span>Khối 12</span>
                            <span class="position-absolute sub-title-discription">
                                <ul>
                                    <li>Lớp 12A1</li>
                                    <li>Lớp 12A2</li>
                                </ul>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    TUYỂN SINH
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        <li>
                            <span>Thông tin tuyển sinh</span>
                            <span class="position-absolute sub-title-discription">
                                Trường THPT Sun Shine xây dựng liên cấp II, III vững mạnh với mục tiêu “Dạy học sinh nên người”, với nhiều đổi mới trong năm học 2019-2020
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    GÓC PHỤ HUYNH - HS
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        @if (ViewBag.Role == "Học Sinh")
                        {
                            <li>
                                <span>
                                    <a href="/Home/XemLop">Xem Kết Quả Học Tập</a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="/Home/XemViPham">Xem Vi Phạm</a>
                                </span>
                            </li>
                        }
                        <li>
                            <span>Ý kiến đóng góp</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    TIN TỨC
                </a>
                <div class="sub">
                    <ul class="position-relative">
                        <li>
                            <span>
                                <a href="/Home/XemThongBao">Thông báo</a>
                            </span>
                        </li>
                        <li>
                            <span>Sự kiện</span>
                        </li>
                        <li>
                            <span>Thư viện</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    THỜI KHÓA BIỂU
                </a>
            </li>
        </ul>
    </div>
</div>