@{
    ViewData["Title"] = "Notice";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Thông báo</title>
<h3 style="text-align: center; color: red; font-weight: 600;">
    Bạn không có quyền truy cập!!!
</h3>

